<div class="map-popup row">
    {% if marker.thumb %}
        <div class="col-md-6 col-lg-4">
            {% if marker.singleUrl %}
                <a href="{{ marker.singleUrl }}">
                    <img data-src="{{ marker.thumb }}" src="{{ marker.thumb }}" style="max-width: 100%" />
                </a>
            {% else %}
                <img data-src="{{ marker.thumb }}" src="{{ marker.thumb }}" style="max-width: 100%" />
            {% endif %}
        </div>
        <div class="col-md-6 col-lg-8">
            {% if marker.singleUrl %}
                <a href="{{ marker.singleUrl }}">
                    <h4>{{ marker.title }}</h4>
                </a>
            {% else %}
                <h4>{{ marker.title }}</h4>
            {% endif %}
            {{ marker.description|raw }}
        </div>
    {% else %}
        <div class="col-xs-12">
            {% if marker.singleUrl %}
                <a href="{{ marker.singleUrl }}">
                    <h4>{{ marker.title }}</h4>
                </a>
            {% else %}
                <h4>{{ marker.title }}</h4>
            {% endif %}
            {{ marker.description|raw }}
        </div>
    {% endif %}
    {% if marker.posts is not empty %}
        <div class="col-xs-12">
            <hr />
            <h5>Blog posts</h5>
        </div>
        {% for post in marker.posts %}
            <div class="col-xs-12">
                <span class="post-date">{{ post.published_at|date('M d, Y') }}</span>
                <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if marker.albums is not empty %}
        <div class="col-xs-12">
            <hr />
            <h5>Photo albums</h5>
        </div>
        {% for album in marker.albums %}
            <div class="col-xs-12">
                <span class="post-date">{{ album.created_at|date('M d, Y') }}</span>
                <strong><a href="{{ album.url }}">{{ album.title }}</a></strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
