<div class="map-popup row">
    <div class="col-xs-12">
        <h4>{{ marker.title }}</h4>
    </div>
    <div class="row">
        {% if marker.image %}
            <div class="col-md-6 col-lg-4">
                <img
                    data-src="{{ marker.image.thumb }}"
                    src="{{ marker.image.thumb }}"
                    style="max-width: 100%" />
            </div>
            <div class="col-md-6 col-lg-8">
                {{ marker.description|raw }}
             </div>
        {% else %}
            <div class="col-xs-12">
                {{ marker.description|raw }}
            </div>
        {% endif %}
    </div>
</div>
